html{
    height: 100%;
}

body{
    margin: 0;
    background-image: linear-gradient(to bottom,#203246, #1A1A1A);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.video{
    cursor: pointer;
}

.profileimg{
    width: 70px;
    height: 70px !important;
    object-fit: cover;
    border-radius: 100px;
}
::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 415px) {
    .video {
        border-radius: 27px;
        margin-right: 15px;
        width: 319px;
    }
    .topVideoContainer {
        height: 200px;
        margin: 0px 10px;
        width: calc(100% - 20px);
        margin-top: 20px;
    }
    .CatagorieVideoLists {
        margin: 0 10px;
        width: calc(100% - 20px);
    }
    .CatagorieVideoLists .video {
        border-radius: 15px;
        max-height: 100%;
        width: 175px;
    }
    .videoCategorie{
        height: 125px;
    }
    h1{
        display: none;
    }
    h2{
        margin: 10px 0;
    }
}

@media screen and (min-width: 415px) {
    .video {
        border-radius: 20px;
        margin-right: 50px;
        width: 800px;
        
    }
    
    .topVideoContainer{
        height: 450px;
        margin: 0px 50px ;
        width: calc(100% - 100px);
    }
    .CatagorieVideoLists{
        margin: 0 50px;
        width: calc(100% - 100px);
    }
    .videoCategorie .video{
        height: 175px;
        width: 300px;
    }
    h1{
        margin-left: 50px;
    }
}

.titleAndAccountButton{
    display: flex;
    justify-content: space-between;
}

.topVideoContainer{
    padding-bottom: 20px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    float: left;
    scrollbar-color:#203246 #1A1A1A;
/*    scrollbar-width: none;*/
}

h1{
    float: left;
    color: white;
    margin: 10px 50px;
}

h2{
    margin: 10px 0;
}
.video{
    max-height: 100%;
    flex:0 0 auto;
    background-color: black;
    border: 2px solid white;
    background-position-y: center;
    background-size:100% auto;
}

.CatagorieVideoLists{
    float: left;
}

.videoCategorie{
    padding-bottom: 20px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color:#203246 #1A1A1A;
/*    scrollbar-width: none;*/
    float: left;
    width: 100%;
}

.footer{
    width: 100%;
    height:50px;
    border-top: 1px solid white;
    float: left;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer p{
    font-size: 15px;
    float: left;
    padding: 10px 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #203246; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #1A1A1A; 
}
