* {
	margin: 0px;
	padding: 0px;

}
body{
	background-image: linear-gradient(#203246, #1A1A1A);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 1920px;
	height: 1880px;
	margin: 0 auto;

}